doctype html
html
  head
    title Edit Profile
    meta(name="netid", content=user.NetID)
    meta(name="recid", content=record_id)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/fonts.css")
    link(rel="stylesheet" href="/css/kb_theme.css")
    link(rel="stylesheet" href="/css/loading.css")
    link(rel="stylesheet" href="/css/profile.css")
    link(rel="stylesheet" href="/css/edit-profile.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    script(src="/js/edit-profile.js")
  body    
    header
      img(src=global.cdn("images/conweb-logo.png"))
      //- div.fa-2x
        a(href=`/profile/${user.NetID}` target="_blank")
          span.fas.fa-external-link-alt
    main
      .save-fab-container 
        button#save(type="button").save-fab
          span.fas.fa-save
      .edit-profile.basic
        .card-header Basic
        .basic-content
          .top-content
            .profile-photo-container#photo-upload-button
              img#profile-photo(src=user.Photo[0].url)
              input#photo-upload(type="file")
            .text-content
              span.profile-header-name
                span 
                  span#first-name-disp= user["First Name"]
                  | 
                  | #{user["Last Name"]}
                span.profile-header-pronouns#pronouns-disp= user["Pronouns Display"]
              span.profile-header-position
                span= user.Position
                each x in user.Status
                  span(class=`pill ${user.PillMap[x]}`)= x
              if user.Position !== "Lead Consultant"
                span.profile-header-LC LC: #{user.LC}
              span.profile-header-start-date Started in #{user["Start Date"]}
              span.profile-header-graduation 
                | Graduating in
                | 
                span#grad-disp= user["Grad Display"]
              span.profile-header-num-tickets
                | Completed 
                span#num_tickets
                  div.lds-dual-ring
                | tickets
          .bio-content
            label(for="bio") Bio
            textarea#bio(name="bio")= user.Bio
      .edit-profile.about
        .card-header About
        .about-content
          label(for="first-name") Preferred Name
          input#first-name(type="text" name="First Name" value=user["First Name"])
          label Birthday
          span= user["Long Birthday"]
          label(for="shirt-size") T-Shirt Size
          select#shirt-size(name="Shirt Size")
            each size in ['S', 'M', 'L', 'XL']
              option(value=size selected=(user["Shirt Size"] === size))= size
          label(for="dietary-restrictions") Dietary Restrictions
          input#dietary-restrictions(type="text" name="Dietary Restrictions" value=user["Dietary Restrictions"])
          label(for="grad-year") Expected Graduation
          .grad-input-group
            select#grad-month(name="Grad Month")
              each month in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                option(value=month selected=(user["Grad Month"] === month))= month
            select#grad-year(name="Grad Year")
              each year in years
                option(value=year selected=(user["Grad Year"] === year))= year
          label(for="pronouns") Pronouns
          .pronoun-opts
            each pronoun_set in ['he/him/his', 'she/her/hers', 'they/them/theirs']
              div
                input(id=pronoun_set.replace(/\//g, '-') type="checkbox" name="Pronouns" value=pronoun_set checked=(user.Pronouns instanceof Array && user.Pronouns.includes(pronoun_set)))
                label(for=pronoun_set.replace(/\//g, '-'))= pronoun_set
          input#other-pronouns(type="text" name="Other Pronouns" value=user["Other Pronouns"] placeholder="Enter custom pronouns here")
      .edit-profile.details
        .card-header Details
        .details-content
          label NetID
          span= user.NetID
          label Work-Study Allotment
          span= user.WSFixed
          label(for="wildcard-hid") Wildcard HID
          input#wildcard-hid(type="text" value=user["Wildcard HID"] name="Wildcard HID")
          label Student ID
          span= user.ID
      .edit-profile.contact
        .card-header Contact
        .contact-content
          label(for="phone-number") Phone Number
          input#phone-number(type="text" value=user.PhoneFixed name="Phone Number")
          label Student Email
          span= user["Email"]
          label Staff Email
          span= user.ExchangeFixed
      .edit-profile.kudos
        .card-header 
          | Kudos
          if kudos.length !== 0
            a(type="button" href=`/kudos/${user.NetID}`) See All
        .kudos-content
          each kudo in kudos
            h4= new Date(kudo["Time Submitted"]).toLocaleDateString()
            p= kudo["Display Text"]
        if kudos.length === 0
          | None yet.
      .edit-profile.pcs
        .card-header Performance Corrections
        .pcs-content
          each pc in PCs
            .pc
              p
                strong Date: 
                | 
                = new Date(pc["Timestamp"]).toLocaleDateString()
              p
                strong Categories: 
                | 
                = pc.Type.join(", ")
              p= pc.Description
          if PCs.length === 0
            | No Performance Corrections. Yay!
